body{
	background-color: black;
	background-image: url(../img/darkwood.png);
	background: url(../img/darkwood.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
	color: red;
	text-align: left;
	position: relative;

}
.background{
	background-image: url(../img/darkwood.png);
	background: url(../img/darkwood.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}
ul{
	list-style-type: none;
}
a:link {
    text-decoration: none;
    font-size: 29px;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #285e8e;
}

a:active {
    text-decoration: underline;
}
.link{
	text-align: center;
	background-image: url(../img/darkwood.png);
	background: url(../img/darkwood.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;

}
.post{
	background-color: white;
	border: 2px solid red;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	margin-bottom: 10px;
}
#header{
	width: 100%;
	background-color: white;
	height: 50px;
	padding-top: 5px;
	text-align: left; 
	padding-left: 7px;
	margin-bottom: 50px;
}
#BLOGPOST{
	width: 70%;
	display: inline-block;
	text-align: center;
	background-color: yellow;
	margin-left: 2.3%;
	height: 299px;
}
#aside{
	text-align: center;
	width: 25%;
	display: inline-block;
	background-color: green;
	height: 300px;
	font-size: 30px;
}
#whiteop{
	height: 100px;
	background: rgba(400, 400, 400, 0.4); 
    text-align: center;
    border: 5px solid white;
}
.link{
	background-color: lime;
	padding-left: 13px;
	margin-left: 7px;
	width: 24%;
	display: inline-block;
}
.webpage{
	background-color: black;
	height: 100%;
	color: white;
	background: no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media (max-width: 320px) {
	body {
		background-color: lime;
		text-align: center;
	}
	a:link {
    text-decoration: none;
    font-size: 40px;
}
}
@media (max-width: 1024px) {
	body {
		background-color: blue;
		text-align: center;
	}
}